<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
<h3>Here are all the clients for this stylist:</h3>

<ul>
  <% @stylist.clients().each() do |client| %>
  <li><%= client.title() %> </li>
  <% end %>
</ul>

<% else %>
<p>There are no clients for this stylist!</p>
<% end %>

<div class="container">
  <a href="/"><button class="btn">Home</a>
  </div>

  <h3>Add a client to <%= @stylist.name() %> </h3>

  <form action="/clients" method="post">
    <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

    <label for="title">Name of the client:</label>
    <input id="title" name="title" type="text">

    <button type="submit">Add client</button>
  </form>

  <hr>

  <div class="container">
    <a href="/">Home</a>
    <a href="/stylists">View All Lists</a>
    <a href="/stylists/new">Add New List</a>
    <a href="/stylists/new">Add New client</a>
  </div>

  <p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %> stylist</a></p>
  <p><a href="/">Return to Main Page</a></p>
